@import "/node_modules/flag-icons/css/flag-icons.min.css";
mat-toolbar{
    padding: 10px;
    background-color: white;
    color: black;
    position: relative;
    display: inline-flex;
    justify-content: space-around;

    border-bottom: 2px solid black;
    margin-bottom: 30px;

}
mat-toolbar img{
    max-height: 100%;
    object-fit: contain;
}
mat-toolbar span{
    font-size: small;
}

button{
    align-items: center;
    text-align: center;
}

.toolbarOptions{
    min-width: fit-content;
}

.menuIcon{
    position: absolute;
    left: 10px;
}
